$Roboto: Roboto Mono, monospace;
$DrukWide: 'Druk Wide';
$purple: #682ae9;

.menu_container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0px 50px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  align-items: center;
  justify-content: center;

  transform: translateX(150%);
  background-color: #0d0d0d;
  transition: all 1.3s;
  z-index: 3333;
}

.active {
  transform: translateX(0%);
  transition: all 1.3s;

  .menu_list {
    a {
      &:nth-child(1) {
        transform: scale(1);
        transition-delay: 0.2s;
      }
      &:nth-child(2) {
        transform: scale(1);
        transition-delay: 0.4s;
      }
      &:nth-child(3) {
        transform: scale(1);
        transition-delay: 0.6s;
      }
      &:nth-child(4) {
        transform: scale(1);
        transition-delay: 0.8s;
      }
    }
  }
  .links_block {
    transform: scale(1);
    transition: all 2s;
    transition-delay: 0.5s;
  }
}

.menu_list {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 90%;

  a {
    display: flex;
    flex-direction: column;
    font-family: $DrukWide;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    transform: scale(0);
    transition: all 1s;

    color: #fff;

    .menu_number {
      font-family: $Roboto;
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 1.2px;
      transition: 0.4s;
      padding: 10px 0px;
      color: #fff;
    }

    &:hover {
      .menu_number {
        color: $purple;
        transition: 0.4s;
      }
    }
  }
}
.links_block {
  display: flex;
  position: relative;
  width: 90%;
  justify-content: center;
  align-items: center;
  top: 150px;
  transform: scale(0);
  transition: all 1.3s;

  height: 50px;

  a {
    display: flex;
    justify-content: center;

    width: 25px;
    margin: 0px 40px 0px 40px;

    .link_icon {
      color: #fff;
      font-size: 25px;
      transition: 0.5s;
    }

    &:hover {
      .link_icon {
        color: $purple;
        transform: scale(1.2);
        transition: 0.5s;
      }
    }
  }
}

.burger_close_btn {
  cursor: pointer;

  display: flex;
  position: absolute;

  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  font-family: $DrukWide;
  width: 100px;
  font-size: 14px;
  letter-spacing: 1px;

  top: 110px;
  right: 50px;

  color: #fff;
  transition: 0.4s;
  &:hover {
    color: $purple;
    transition: 0.4s;
  }
}

@media screen and (min-width: 800px) {
  .menu_container {
    transform: translateX(150%);
  }
}

@media screen and (max-width: 680px) {
  .menu_list {
    flex-direction: column;
  }
}
