$DrukWide: 'Druk Wide';
$purple: #682ae9;

.intro_container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1450px;
  height: 100vh;

  align-items: center;
  padding: 50px 50px;
}

.intro_block {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  justify-content: center;

  .intro_block_item {
    display: flex;
    position: relative;
    width: 100%;
    height: 450px;
    padding: 0px 50px;
    justify-content: space-between;

    .introduce {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, #0d0d0d 50%, #fff 50%);

      p {
        opacity: 0;
        position: absolute;
        font-family: $DrukWide;
        font-size: 14px;

        text-transform: uppercase;
        bottom: 0;
        right: 55%;
        color: #fff;
        mix-blend-mode: difference;
        letter-spacing: 1px;
        animation: showY 0.8s forwards;
        animation-delay: 0.8s;

        span {
          font-size: 14px;
          color: $purple;
          -webkit-text-stroke: 0em #fff;
          line-height: 0px;
        }
      }

      span {
        opacity: 0;
        text-transform: uppercase;
        font-family: $DrukWide;
        font-size: 110px;
        mix-blend-mode: difference;

        color: transparent;
        -webkit-text-stroke: 0.02em #fff;
        transition: 0.6s;
        line-height: 95px;
        animation: showY 0.8s forwards;

        &:hover {
          color: #fff;
        }

        &:nth-child(2) {
          opacity: 0;

          animation: showY 1.2s forwards;
          animation-delay: 0.6s;
        }
      }
    }
  }

  .intro_block_item_2 {
    display: flex;
    position: relative;
    height: 170px;

    p {
      opacity: 0;
      position: absolute;
      font-family: $DrukWide;
      font-size: 12px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
      bottom: 0;

      animation: showY 1.2s forwards;
      animation-delay: 0.3s;
    }

    .intro_scroll_down {
      display: block;
      position: absolute;
      left: 100%;
      transform: rotate(90deg);
      top: 0;
      transform-origin: 0% 0%;
      white-space: nowrap;
    }

    span {
      font-family: $DrukWide;
      font-size: 12px;
      font-weight: 700;
      padding: 5px;
      color: #fff;
      letter-spacing: 1.8px;

      text-transform: uppercase;

      &:nth-child(2) {
        color: #682ae9;
      }
    }
  }
}

@keyframes showY {
  0% {
    opacity: 0;
    transform: translate(0, 100%) scaleY(1.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scaleY(1);
  }
}
@media screen and (max-width: 1050px) {
  .intro_block .intro_block_item .introduce span {
    font-size: 85px;
    line-height: 70px;
  }
}
@media screen and (max-width: 860px) {
  .intro_block .intro_block_item .introduce span {
    font-size: 65px;
    line-height: 50px;
  }
}
@media screen and (max-width: 800px) {
  .intro_block {
    margin-top: 120px;
  }
}
@media screen and (max-width: 680px) {
  .intro_block .intro_block_item .introduce span {
    font-size: 50px;
  }
}
// @keyframes scale {
//   0% {
//     opacity: 1;
//   }
//   50% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//     transform:  translateX(100%);
//   }
// }
